body{

font-family:Arial;

margin:40px;

background:#f5f5f5;

}

h1{

color:darkblue;

}

table{

border-collapse:collapse;

width:100%;

background:white;

}

th,td{

border:1px solid gray;

padding:10px;

text-align:left;

}

button{

padding:10px 20px;

background:blue;

color:white;

border:none;

cursor:pointer;

}

input{

padding:8px;

width:250px;

}

